<h2 class="center">
  LOGIN
</h2>
<form>
<div class="page">
  <div class="page__demo">
    <label class="field a-field a-field_a2 page__field">
      <input class="field__input" placeholder="example@example.com" required>
      <span class="field__label-wrap">
        <span class="field__label">email</span>
      </span>
    </label>
  </div>
  <div class="page__demo">
    <label class="field a-field a-field_a2 page__field">
      <input type=password class="field__input" placeholder="secret123" required/>
      <span class="field__label-wrap">
        <span class="field__label">password</span>
      </span>
    </label>
  </div>
  <br>
  <div><a href="#" class="sub_button">Login</a></div>
</div>
</form>

