<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <nav>
    <h1>CODERDOJO STUDENT MANAGER</h1>
    <a routerLink="/dashboard" style="margin-right: 2em">DASHBOARD</a>
    <a routerLink="/list">LIST</a>
    <a routerLink="/manage">MANAGE</a>

  </nav>
  <script>var clicked = false;
  </script>
  <img onclick="document.getElementById('drawer').classList.toggle('clicked'); document.getElementById('menuBack').classList.toggle('menuBackShow');" id="menu" src="/assets/menu.png"/>

  <div onclick="document.getElementById('drawer').classList.toggle('clicked'); document.getElementById('menuBack').classList.toggle('menuBackShow');" id="menuBack"></div>

  <div id="drawer">
    <a onclick="document.getElementById('drawer').classList.toggle('clicked'); document.getElementById('menuBack').classList.toggle('menuBackShow');" routerLink="/dashboard">DASHBOARD</a>
    <a onclick="document.getElementById('drawer').classList.toggle('clicked'); document.getElementById('menuBack').classList.toggle('menuBackShow');" routerLink="/list">LIST</a>
    <a onclick="document.getElementById('drawer').classList.toggle('clicked'); document.getElementById('menuBack').classList.toggle('menuBackShow');" routerLink="/manage">MANAGE</a>
  </div>

  <div style="height: 100px;"></div>

</div>
<div id="container">
  <router-outlet *ngIf="loggedIn; else login"></router-outlet>
  <ng-template #login><app-login></app-login></ng-template>
</div>
