<h2>
  LIST
</h2>

<div id="list">
  <table>
    <tr class ="heads">
      <th>NAME</th>
      <th>ROLES</th>
      <th>DATE OF BIRTH</th>
      <th>ATTENDANCE</th>
    </tr>
    <tr class="darker">
      <th>Thomas Galligan</th>
      <th><div class="role student">Student</div></th>
      <th>19/09/1900</th>
      <th><input type="checkbox"></th>
    </tr>
    <tr>
      <th>Thomas Galligan</th>
      <th><div class="role mentor">Mentor</div></th>
      <th>19/09/1900</th>
      <th><input type="checkbox"></th>
    </tr>
    <tr class="darker">
      <th>Thomas Galligan</th>
      <th><div class="role seniormentor">Senior Mentor</div></th>
      <th>19/09/1900</th>
      <th><input type="checkbox"></th>
    </tr>
  </table>
</div>
